{% extends "base.html" %}

{% block char %}<meta charset="utf-8">{% endblock char %}

{% block title %}Mami &#352iva - izdelki{% endblock title %}

{% block containter %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Naši izdelki,
                        <strong>resnično naši!</strong>
                    </h2>
                    <hr>
                </div>


                {% for del in kat %}

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="/img2?img_id2={{ del.key.urlsafe() }}" alt="">
                    <h2>{{ del.cat_naslov }}
                        <br>
                        <small>Made by Maruša</small>
                    </h2>
                    <p>{{ del.cat_opis }}</p>
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>

                {% endfor %}
            </div>
        </div>

{% endblock containter %}
